{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}

<title>{% trans "Languages" %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content={% trans "Streamline user onboarding and protect your business with our secure, AI-powered ID verification service, ensuring compliance and preventing fraud." %}>
<meta name="author" content="">
{% endblock head_title%}

{% block css %}

    {{ block.super }}

{% endblock css %}



{% block content_head %}
        <ul class="breadcrumb pt-0">
            <li class="breadcrumb-item"><a href="{% url 'idmeapi:sdashboard' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'profiles:profile' %}">{% trans "Profile" %}</a></li>
            <li class="breadcrumb-item"><a href="">{% trans "Language" %}</a></li>
        </ul>

{% endblock content_head %}

{% block content_body %}

        <div class="row gx-4">
            <div class="col-12 col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ title }}</h3>

                    </div>
                    <div class="card-body">
                        <form method='POST' action='' id="change-language-form" enctype='multipart/form-data'>{% csrf_token %}
                            {{ form|crispy }}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <input type="hidden" value="{{ langs.code }}" name="language" id="language"/>

                              <input type="button" value='{% trans "Save" %}' class="btn btn-success py-2 px-5 change-language" style="float: right;">

                        </form>
                        <br>
                    </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content_body %}


{% block js %}
    {{ block.super }}
        <script>
    $(function () {


        $('.change-language').click(function (e) {
            $('#language').val($(this).attr('data-lang-code'));
            $('#change-language-form').submit();
        });
    });
</script>
{% endblock js %}