{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}
  <h1 class="mb-0 pb-0 display-4" id="title">{% trans "Profile Overview" %}</h1>
    <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
        <ul class="breadcrumb pt-0">
            <li class="breadcrumb-item"><a href="{% url 'idmeapi:sdashboard' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="">{% trans "Profile" %}</a></li>

        </ul>
    </nav>
{% endblock head_title %}
{% block css %}

{{ block.super }}
<!--<link rel="stylesheet" href={% static "css/camera.css" %}>-->


{% endblock css %}

{% block content_head %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active">{% trans "Profile" %}</li>
</ul>

<h1 class="page-header">
    {% trans "Profile Management" %}
</h1>
{% endblock content_head %}

{% block content_body %}

    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-4 col-sm-6 col-md-6 col-xl-4 col-xxl-3">
              <!-- Biography Start -->

              <div class="card mb-5">

                <div class="card-body">
                  <div class="d-flex align-items-center flex-column mb-4">
                    <div class="d-flex align-items-center flex-column">
                      <div class="card">
                          <div class="card-body pt-4 pb-4">
                          {% if user.picture %}
                            <img class="img-fluid" src="{{ user.picture.url }}" style="border-radius: 50%;" alt="">
                                {% else %}
                                <img class="img-fluid" style="border-radius: 50%; src={% static "pictures/user_placeholder.png" %} width="170" height="170" alt="">
                            {% endif %}
                            </div>
                          <div class="card-footer">
                              <div class="h5 mb-0">{{ user.first_name }} {{ user.last_name }}</div>
                          </div>
                          <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                      </div>

{#                      <div class="text-muted">#}
{#                          {% if user.parent %}#}
{#                            <span class="d-block opacity-75">{% trans "Parent" %}</span>#}
{#                        {% elif user.student%}#}
{#                            <span class="d-block opacity-75">{% trans "Student" %}</span>#}
{#                        {% elif user.professor%}#}
{#                            <span class="d-block opacity-75">{% trans "Professor" %}</span>#}
{#                        {% elif user.serviceprovider%}#}
{#                            <span class="d-block opacity-75">{% trans "Service Provider" %}</span>#}
{#                        {% elif user.institutadmin%}#}
{#                            <span class="d-block opacity-75">{% trans "Institut Admin" %}</span>#}
{##}
{#                        {% endif %}#}
{#                      </div>#}
                      <div class="text-muted">
                        <i data-cs-icon="pin" class="me-1"></i>
                        <span class="align-middle">{{ user.profile.city }}, {{ user.profile.country }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="nav flex-column" role="tablist">
                    <a class="nav-link active px-0 border-bottom border-separator-light"  href="{% url 'profiles:userinfo' user.pk %}" >
                      <i data-cs-icon="user" class="me-2" data-cs-size="17"></i>
                      <span class="align-middle">{% trans "User Information" %}</span>
                    </a>
                    <a class="nav-link px-0 border-bottom border-separator-light"  href="{% url 'profiles:editprofile' %}" >
                      <i data-cs-icon="settings-1" class="me-2" data-cs-size="17"></i>
                      <span class="align-middle">{% trans "Edit Profile" %}</span>
                    </a>
                    <a class="nav-link px-0 border-bottom border-separator-light"  href="{% url 'account_change_password' %}" >
                      <i data-cs-icon="lock-off" class="me-2" data-cs-size="17"></i>
                      <span class="align-middle">{% trans "Manage Password"  %}</span>
                    </a>
                    <a class="nav-link px-0 border-bottom border-separator-light" href="{% url "account_email" %}" >
                      <i data-cs-icon="email" class="me-2" data-cs-size="17"></i>
                      <span class="align-middle">{% trans "Manage Emails" %}</span>
                    </a>
                      <a class="nav-link px-0 border-bottom border-separator-light" href="{% url 'profiles:language' user.pk %}" >
                      <i data-cs-icon="web" class="me-2" data-cs-size="17"></i>
                      <span class="align-middle">{% trans "Prefered Language" %}</span>
                    </a>
                      <a class="nav-link px-0 border-bottom border-separator-light" href="{% url 'profiles:activate' user.pk %}" >
                      <i data-cs-icon="eye-off" class="me-2" data-cs-size="17"></i>
                      <span class="align-middle">{% trans "Deactivate" %}</span>
                    </a>
                    <a class="nav-link px-0 border-bottom border-separator-light" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                      <i data-cs-icon="logout" class="me-2" data-cs-size="17"></i>
                      <span class="align-middle">{% trans "Logout" %}</span>
                    </a>


                  </div>
                </div>
                  <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
              </div>
              <!-- Biography End -->
            </div>

    </div>



{% endblock content_body %}



{% block js %}
  {{ block.super }}

<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock js %}