{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}

    {{ block.super }}

{% endblock css %}



{% block head_title %}
    <h1 class="mb-0 pb-0 display-4" id="title">{% trans "Edit Profile" %}</h1>
    <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
        <ul class="breadcrumb pt-0">
            <li class="breadcrumb-item"><a href="{% url 'idmeapi:sdashboard' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'profiles:profile' %}">{% trans "Profile" %}</a></li>
            <li class="breadcrumb-item"><a href="">{% trans "Profile Form" %}</a></li>

        </ul>
    </nav>

{% endblock head_title %}

{% block content_body %}

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ title }}</h5>

                <hr/>
            </div>
            <div class="card-body">
                <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}

                    {{ formset.management_form }}
                    {{ form|crispy }}
                    {% for profile_form in formset %}
                    {{ profile_form|crispy }}
                    {% endfor %}


                    <input type="submit" value='{% trans "Save" %}' class="btn btn-primary py-2 px-5">

                </form>
                <br>
            </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content_body %}

{% block js %}
  {{ block.super }}
<script>
function goBack() {
  window.history.back();
}
</script>


{% endblock js %}


