{% extends "base.html" %}

{% load i18n %}

{% block page_title %}{% trans "Set Password" %}{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-12 col-xl-6 col-xxl-6 mb-5">
            <div class="card mb-5 mt-4">
                <div class="card-body p-3">
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
                   </div>
            </div>
        </div>
    </div>
{% endblock %}
