{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}

    <title>{% trans "Analytics" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={% trans "Analytic Tools for Startups and Existing Companies" %}>
    <meta name="author" content="">
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block content_head %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">{% trans "Home" %}</a></li>
        <li class="breadcrumb-item active">{% trans "Passwords" %}</li>
    </ul>

    <h1 class="page-header">
        {% trans "Password Reset" %} <small>{% trans "Password Reset Process" %}</small>
    </h1>
{% endblock content_head %}

{% block content_body %}
<div class="row">
            <div class="col-lg-6">
    <div class="card">
        <div class="card-body">

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                <br>
            {% endif %}

            <small>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</small>

            <form method="POST" action="{% url 'account_reset_password' %}" class=" pt-4 password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-outline-theme btn-lg d-block w-50 fw-500 mb-3"/>
                </div>
            </form>
            <div class="card-footer bg-none d-flex p-3">
                <small>{% trans "Please contact us if you have any trouble resetting your password." %}</small>
            </div>

        </div>
        <div class="card-arrow">
            <div class="card-arrow-top-left"></div>
            <div class="card-arrow-top-right"></div>
            <div class="card-arrow-bottom-left"></div>
            <div class="card-arrow-bottom-right"></div>
        </div>
    </div>
    </div>
    </div>
{% endblock content_body %}
