{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}{% trans "Change Password" %}{% endblock %}

{% block main %}
     <div class="row justify-content-center">
        <div class="col-12 col-xl-6 col-xxl-6 mb-5">
            <div class="card mb-5 mt-4">
                <div class="card-body p-3">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="bg-white p-5 password_change">
        {% csrf_token %}
        {{ form|crispy}}
        <div class="form-group">
        <button type="submit" name="action" class="btn btn-primary py-3 px-5">{% trans "Change Password" %}</button>
        </div>
    </form>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
