{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}

<title>{% trans "ID Verify" %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content={% trans "Analytic Tools for Startups and Existing Companies" %}>
<meta name="author" content="">
{% endblock %}

{% block css %}

{{ block.super }}
<link rel="stylesheet" href={% static "css/camera.css" %}>


{% endblock css %}

{% block content_head %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active">{% trans "ID Verify" %}</li>
</ul>

<h1 class="page-header">
    {% trans "ID Verification" %}
</h1>
{% endblock content_head %}
{% block content_body %}
<div class="row gx-4">
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
                {% trans "Details" %}

            </div>

            <div class="card-body p-1">
                <div class="row">
                    <div class="col">
<!--                        <div class="card">-->
                            <ul class="nav nav-tabs pt-3 px-3">
                                <li class="nav-item me-1"><a href="#homeWithCard" class="nav-link active" data-bs-toggle="tab">{%trans "Front Side"%}</a></li>
                                <li class="nav-item me-1"><a href="#profileWithCard" class="nav-link" data-bs-toggle="tab">{%trans "Back Side"%}</a></li>
                            </ul>
                            <div class="tab-content p-1">
                                <!-- BEGIN tab-pane -->
                                <div class="tab-pane fade show active" id="homeWithCard">
                                    <div class="card mb3">
                                        <div class="card-body p-1">
                                            <div class="row gx-0 align-items-center">
                                                <div class="col-md-4">
                                                    <img src="{% static 'pictures/id-front_s.jpg'%}" id="captureimg" alt="" class="card-img rounded-0">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card ms-md-2">
                                                        <div class="card-header">
                                                            {% trans "Card Information" %}
                                                        </div>
                                                        <div class="card-body d-block">
                                                            <div class="d-flex justify-content-center">
                                                              <div class="spinner-border text-success" id="loadingstate" role="status" style="display: none">

                                                              </div>
                                                            </div>
                                                            <div id="alert-name"></div>
                                                            <div id="alert-birthcity"></div>
                                                            <div id="alert-dob"></div>
                                                            <div id="alert-expire"></div>

                                                        </div>
                                                        <div class="card-arrow">
                                                            <div class="card-arrow-top-left"></div>
                                                            <div class="card-arrow-top-right"></div>
                                                            <div class="card-arrow-bottom-left"></div>
                                                            <div class="card-arrow-bottom-right"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb3">
                                        <div class="card-body">
                                            <div class="accordion" id="accordionExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                                            {% trans "Load an Existing Image" %}
                                                        </button>
                                                    </h2>
                                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">


                                                            <form action="" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <div class="form-group row mb-3">
                                                                    <!--                                                        <label for="idcard" class="col-sm-2 col-form-label">{% trans "Upload Your ID" %}</label>-->
                                                                    <div class="col-sm-10">
                                                                        <input class="form-control" accept="image/*" type="file" id="idcard" onchange="loadFile(event)">
                                                                    </div>
                                                                </div>

                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingTwo">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                                            {% trans "Take a Picture of Your ID" %}
                                                        </button>
                                                    </h2>
                                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <h5 class="card-title">{% trans "Capture Photo With Camera"%}</h5>
                                                            <div class="row gx-0 align-items-center">
                                                                <div class="col">

                                                                    <input class="form-control" accept="image/*" type="file" id="cardid" capture onchange="loadPhoto(event)">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card-footer bg-none p-3">
                                            <button type="button" id="IdVerification" class="btn btn-success btn-sm" style="float: right;">{% trans "Verify Front" %} </button>
                                            <input class="hidden" id="datalink">
                                            <div id="alert-box"></div>

                                        </div>
                                        <div class="card-arrow">
                                            <div class="card-arrow-top-left"></div>
                                            <div class="card-arrow-top-right"></div>
                                            <div class="card-arrow-bottom-left"></div>
                                            <div class="card-arrow-bottom-right"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="profileWithCard">
                                    <div class="card mb3">
                                        <div class="card-body">
                                            <div class="row gx-0 align-items-center">
                                                <div class="col-md-4">
                                                    <img src="{% static 'pictures/id-back_s.jpg'%}" id="captureimgb" alt="" class="card-img rounded-0">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card ms-md-2">
                                                        <div class="card-header">
                                                            {% trans "Card Information" %}
                                                        </div>
                                                        <div class="card-body d-block">
                                                            <div class="d-flex justify-content-center">
                                                              <div class="spinner-border text-success" id="loadingstateb" role="status" style="display: none">

                                                              </div>
                                                            </div>
                                                            <label for="alert-idb" id="lablel_idb" style="display: none">{% trans "ID:"%}</label>
                                                            <div id="alert-idb"></div>
                                                            <label for="alert-address" id="label_address" style="display: none">{% trans "Address:"%}</label>
                                                            <div id="alert-address"></div>
                                                            <label for="alert-gender" id="label_gender" style="display: none">{% trans "Gender:"%}</label>
                                                            <div id="alert-gender"></div>

                                                        </div>
                                                        <div class="card-arrow">
                                                            <div class="card-arrow-top-left"></div>
                                                            <div class="card-arrow-top-right"></div>
                                                            <div class="card-arrow-bottom-left"></div>
                                                            <div class="card-arrow-bottom-right"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb3">
                                        <div class="card-body">
                                            <div class="accordion" id="accordionExampleb">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOneb">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                                            {% trans "Load an Existing Image" %}
                                                        </button>
                                                    </h2>
                                                    <div id="collapseOneb" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">


                                                            <form action="" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <div class="form-group row mb-3">
                                                                    <!--                                                        <label for="idcard" class="col-sm-2 col-form-label">{% trans "Upload Your ID" %}</label>-->
                                                                    <div class="col-sm-10">
                                                                        <input class="form-control" accept="image/*" type="file" id="idcardb" onchange="loadFileb(event)">
                                                                    </div>
                                                                </div>

                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingTwob">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                                            {% trans "Take a Picture of Your ID" %}
                                                        </button>
                                                    </h2>
                                                    <div id="collapseTwob" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <h5 class="card-title">{% trans "Capture Photo With Camera"%}</h5>
                                                            <div class="row gx-0 align-items-center">
                                                                <div class="col">

                                                                    <input class="form-control" accept="image/*" type="file" id="cardidb" capture onchange="loadPhotob(event)">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card-footer bg-none p-3">
                                            <button type="button" id="IdVerificationb" class="btn btn-success btn-sm" style="float: right;">{% trans "Verify Back" %} </button>
                                            <input class="hidden" id="datalinkb">
                                            <div id="alert-boxb"></div>

                                        </div>
                                        <div class="card-arrow">
                                            <div class="card-arrow-top-left"></div>
                                            <div class="card-arrow-top-right"></div>
                                            <div class="card-arrow-bottom-left"></div>
                                            <div class="card-arrow-bottom-right"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                    </div>

                </div>

            </div>

                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>

        </div>

    </div>
</div>
<!-- BEGIN #modalPosItem -->
<div class="modal modal-pos fade" id="modalPosItem">
    <div class="modal-dialog modal-lg">
        <div class="modal-content border-0">
            <div class="card">
                <div class="card-body p-0">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END #modalPosItem -->
{% endblock content_body %}


{% block js %}
{{ block.super }}

<!-- ================== BEGIN page-js ================== -->
<script src={% static "assets/plugins/jquery/distro/jquery.min.js" %}></script>
<!--<script src={% static "js/camera.js" %}></script>-->
<!-- ================== END page-js ================== -->


<script>
    function getfilename(fullpath){
        var filename = fullPath.replace(/^.*[\\/]/, '')
        return filename
    }
</script>


<script>

    function IdVerification() {

        const documentname = document.getElementById('idcard').files[0];
        documentname.onchange = () => {
            const selectedFile = documentname.files[0];

        }
        const formData = new FormData();
        // const keyword = document.getElementById('keyword').value;
        {#var userid = document.getElementById('userid').value;#}
        // let useridx = userid.toString();
        // console.log(useridx);
        // formData.append('keyword',keyword );
        formData.append('file', documentname);
        {#formData.append('user', userid);#}
        const options = {
            method: 'POST',
            headers: {
                "Authorization": "sha256=6dSN3Al3gwgFr+eiXOU2dPWX/hTqmCY/zkK9OZykT4g="
            },
            body: formData
        };
        console.log(formData);
        fetch( 'https://idme.ma/idme.apis/idverify/', options )
            .then( response => response.json() )
            .then( data => $("#alert-box").html(`<div class="alert alert-success"         role="alert">
                       ${data}
                        </div>`))
            .catch(error => console.log(error));


    };

</script>
<script>
    var loadFile = function(event) {
        var output = document.getElementById('captureimg');
        var datalink = document.getElementById('datalink');
        var alertmsg = document.getElementById('alert-box');

        datalink.value = "1";
        alertmsg.style.display = "none";
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    var loadPhoto = function(event) {
        var output = document.getElementById('captureimg');
        var datalink = document.getElementById('datalink');
        var alertmsg = document.getElementById('alert-box');
        datalink.value = "2";
        alertmsg.style.display = "none";
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
    var loadFileb = function(event) {
        var output = document.getElementById('captureimgb');
        var datalink = document.getElementById('datalinkb');
        var alertmsg = document.getElementById('alert-boxb');

        datalink.value = "1";
        alertmsg.style.display = "none";
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    var loadPhotob = function(event) {
        var output = document.getElementById('captureimgb');
        var datalink = document.getElementById('datalinkb');
        var alertmsg = document.getElementById('alert-boxb');
        datalink.value = "2";
        alertmsg.style.display = "none";
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>

<script>
    $("#IdVerification").click(function () {

            //clear existing data
        // $("#alert-id").hide();
        $("#alert-name").hide();
        $("#alert-birthcity").hide();
        $("#alert-dob").hide();
        $("#alert-expire").hide();
        $("#loadingstate").show();

        let url = 'https://idme.ma/idme.apis/idverify/';
        const formData = new FormData();
        var datalink = $("#datalink").val();

        if (datalink=="1"){
            var fileName = $("#idcard").val();
            var file = $('#idcard')[0].files[0]
        }else if (datalink=="2") {
            var fileName = $("#cardid").val();
            var file = $('#cardid')[0].files[0]
        }

            // var fileName = $("#captureimg").attr('src');
        if (fileName) {
            formData.append('file', file);
            formData.append('side', "1");
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
                success: function (data) {
                    if (data) {
                        var result = data;
                        var id = result.id;
                        var name = result.name;
                        var city = result.city;
                        var dob = result.dob;
                        var expire = result.expire;
                        $("#loadingstate").hide();

                        // $("#alert-id").html(`<div class="alert alert-light p-0"         role="alert">
                        //    ${id}
                        //     </div>`);
                        $("#alert-name").html(`<div class="alert alert-light p-0"         role="alert">
                           ${name}
                            </div>`);
                        $("#alert-birthcity").html(`<div class="alert alert-light p-0"         role="alert">
                           ${city}
                            </div>`);
                        $("#alert-dob").html(`<div class="alert alert-light p-0"         role="alert">
                           ${dob}
                            </div>`);
                        $("#alert-expire").html(`<div class="alert alert-light p-0"         role="alert">
                           ${expire}
                            </div>`);
                        // $("#alert-id").show();
                        $("#alert-name").show();
                        $("#alert-birthcity").show();
                        $("#alert-dob").show();
                        $("#alert-expire").show();
                    }
                }
            })
                    }else{
                        $("#alert-box").html(`<div class="alert alert-danger p-0"         role="alert">
                                   File missing!!)
                                    </div>`);
                    }
        }
    );

    $("#IdVerificationb").click(function () {

            //clear existing data
        $("#alert-idb").hide();
        $("#alert-address").hide();
        $("#alert-gender").hide();
        $("#label_idb").hide();
        $("#label_address").hide();
        $("#label_gender").hide();

        $("#loadingstateb").show();

        let url = 'https://idme.ma/idme.apis/idverify/';
        const formData = new FormData();
        var datalink = $("#datalinkb").val();

        if (datalink=="1"){
            var fileName = $("#idcardb").val();
            var file = $('#idcardb')[0].files[0]
        }else if (datalink=="2") {
            var fileName = $("#cardidb").val();
            var file = $('#cardidb')[0].files[0]
        }

            // var fileName = $("#captureimg").attr('src');
        if (fileName) {
            formData.append('file', file);
            formData.append('side', "2");
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
                success: function (data) {
                    if (data) {
                        var result = data;
                        var id = result.id;
                        var address = result.address;
                        var gender = result.gender;
                        $("#loadingstateb").hide();

                        // $("#alert-id").html(`<div class="alert alert-light p-0"         role="alert">
                        //    ${id}
                        //     </div>`);
                        $("#alert-idb").html(`<div class="alert alert-light p-0"         role="alert">
                           ${id}
                            </div>`);
                        $("#alert-address").html(`<div class="alert alert-light p-0"         role="alert">
                           ${address}
                            </div>`);
                        $("#alert-gender").html(`<div class="alert alert-light p-0"         role="alert">
                           ${gender}
                            </div>`);
                        $("#label_idb").show();
                        $("#label_address").show();
                        $("#label_gender").show();
                        $("#alert-idb").show();
                        $("#alert-address").show();
                        $("#alert-gender").show();
                    }
                }
            })
                    }else{
                        $("#alert-boxb").html(`<div class="alert alert-danger p-0"         role="alert">
                                   File missing!!)
                                    </div>`);
                    }
        }
    );
</script>
<!--<script>-->
<!--    // Access the DOM elements-->
<!--const video = document.getElementById('camera');-->
<!--const canvas = document.getElementById('photo');-->
<!--const captureBtn = document.getElementById('capture-btn');-->
<!--const context = canvas.getContext('2d');-->
<!--const downloadLink = document.createElement('a');-->
<!--downloadLink.innerText = 'Download Photo';-->
<!--document.body.appendChild(downloadLink);-->

<!--// Request access to the user's camera-->
<!--navigator.mediaDevices.getUserMedia({ video: true })-->
<!--    .then((stream) => {-->
<!--        video.srcObject = stream;-->
<!--    })-->
<!--    .catch((error) => {-->
<!--        console.error("Error accessing the camera: ", error);-->
<!--    });-->

<!--// Capture photo on button click-->
<!--captureBtn.addEventListener('click', () => {-->
<!--    // Set canvas dimensions to match video size-->
<!--    canvas.width = video.videoWidth * 0.30;-->
<!--    canvas.height = video.videoHeight * 0.30;-->

<!--    // Draw the current frame from the video onto the canvas-->
<!--    context.drawImage(video, 0, 0, canvas.width, canvas.height);-->
<!--    const dataURL = canvas.toDataURL('image/jpg');-->
<!--    // Show the captured image on the canvas-->
<!--    // canvas.style.display = 'block';-->
<!--    // Set the download link-->
<!--    downloadLink.href = dataURL;-->
<!--    downloadLink.download = 'captured-photo.png';-->
<!--    downloadLink.style.display = 'block';-->
<!--});-->
<!--</script>-->
{% endblock js %}

