{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}

    <title>{% trans "ID Verify" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={% trans "Analytic Tools for Startups and Existing Companies" %}>
    <meta name="author" content="">
{% endblock %}

{% block css %}

    {{ block.super }}

{#    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css" />#}
            <link rel="stylesheet" type="text/css" href={% static "assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" %} >
            <link rel="stylesheet" type="text/css" href={% static "assets/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" %} >
{#    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.bootstrap5.min.css" />#}
            <link rel="stylesheet" type="text/css" href={% static "assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" %} >
{#    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.bootstrap5.min.css" />#}
            <link rel="stylesheet" type="text/css" href={% static "assets/plugins/bootstrap-table/dist/bootstrap-table.min.css" %} >
{#    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.4/dist/bootstrap-table.min.css">#}
<link href={% static "assets/plugins/blueimp-file-upload/css/jquery.fileupload.css" %} rel="stylesheet">


{% endblock css %}

{% block content_head %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">{% trans "Home" %}</a></li>
        <li class="breadcrumb-item active">{% trans "ID Verify" %}</li>
    </ul>

    <h1 class="page-header">
        {% trans "ID Verification" %}
    </h1>
{% endblock content_head %}
{% block content_body %}
    <div class="row gx-4">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
                    {% trans "Details" %}

                </div>

                <div class="card-body">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row gx-0 align-items-center">
                                <div class="col-md-4">
                                    <img src="https://via.placeholder.com/480x360/c9d2e3/212837" alt="" class="card-img rounded-0" id="card-img">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body d-block">
                                        <h5 class="card-title">{% trans "Card Information" %}</h5>
                                        <div id="alert-id"></div>
                                        <div id="alert-name"></div>
                                        <div id="alert-address"></div>
                                        <div id="alert-dob"></div>
                                        <div id="alert-expire"></div>
{#                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
                                    </div>
                                </div>
                            </div>
                        </div>
	                        <div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
                    </div>
                    <div class="card">
										<div class="card-body">
											<form action="" enctype="multipart/form-data">
                                                {% csrf_token %}
												<div class="form-group row mb-3">
													<label for="idcard" class="col-sm-2 col-form-label">{% trans "Upload Your ID" %}</label>
													<div class="col-sm-10">
														<input class="form-control" accept="image/*" type="file" id="idcard" onchange="loadFile(event)">
													</div>
												</div>
{#												<div class="form-group row mb-3">#}
{#													<label for="idcin" class="col-sm-2 col-form-label">{% trans "CIN" %}</label>#}
{#													<div class="col-sm-10">#}
{#														<input class="form-control" type="text" id="idcin" readonly>#}
{#													</div>#}
{#												</div>#}
{#                                                <div class="form-group row mb-3">#}
{#													<label for="iddob" class="col-sm-2 col-form-label">{% trans "DOB" %}</label>#}
{#													<div class="col-sm-10">#}
{#														<input class="form-control" type="text" id="iddob" readonly>#}
{#													</div>#}
{#												</div>#}
{#                                                <div class="form-group row mb-3">#}
{#													<label for="idexpire" class="col-sm-2 col-form-label">{% trans "Expiration Date" %}</label>#}
{#													<div class="col-sm-10">#}
{#														<input class="form-control" type="text" id="idexpire" readonly>#}
{#													</div>#}
{#												</div>#}
{#                                                <button type="submit" class="btn btn-primary">{% trans "Upload" %} <i class="icon-paperplane ml-2"></i></button>#}
                                                <button type="button" id="IdVerification" class="btn btn-primary">{% trans "Upload" %} <i class="icon-paperplane ml-2"></i></button>
											</form>

										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>

									</div>
                </div>
                <div class="card-footer bg-none d-flex p-3">
                    <div id="alert-box"></div>

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>

            </div>

        <!-- BEGIN #jQueryFileUpload -->
								<div id="jQueryFileUpload" class="mb-5">
									<h4>jQuery file upload</h4>
									<p>File Upload widget with multiple file selection, drag&drop support, progress bars, validation and preview images, audio and video for jQuery. Please read the <a href="https://blueimp.github.io/jQuery-File-Upload/" target="_blank">official documentation</a> for the full list of options.</p>
									<form id="fileupload" action="//jquery-file-upload.appspot.com/" name="file_upload_form" method="POST" enctype="multipart/form-data">
										<div class="card">
											<div class="card-body pb-2">
												<div class="fileupload-buttonbar mb-2">
													<div class="d-block d-lg-flex align-items-center">
														<span class="btn btn-outline-theme fileinput-button me-2 mb-1">
															<i class="fa fa-fw fa-plus"></i>
															<span>Add files...</span>
															<input type="file" name="files[]" multiple>
														</span>
														<button type="submit" class="btn btn-outline-default me-2 mb-1 start">
															<i class="fa fa-fw fa-upload"></i>
															<span>Start upload</span>
														</button>
														<button type="reset" class="btn btn-outline-default me-2 mb-1 cancel">
															<i class="fa fa-fw fa-ban"></i>
															<span>Cancel upload</span>
														</button>
<!--														<button type="button" class="btn btn-outline-default me-2 mb-1 delete">-->
<!--															<i class="fa fa-fw fa-trash"></i>-->
<!--															<span>Delete</span>-->
<!--														</button>-->
<!--														<div class="form-check ms-2 mb-1">-->
<!--															<input type="checkbox" id="toggle-delete" class="form-check-input toggle">-->
<!--															<label for="toggle-delete" class="form-check-label">Select Files</label>-->
<!--														</div>-->
													</div>
												</div>
												<div id="error-msg"></div>
											</div>
											<div class="table-responsive text-nowrap">
												<table class="table table-card mb-0 fs-13px">
													<thead>
														<tr class="fs-12px">
															<th class="pt-2 pb-2 w-25">PREVIEW</th>
															<th class="pt-2 pb-2 w-25">FILENAME</th>
															<th class="pt-2 pb-2 w-25">SIZE</th>
															<th class="pt-2 pb-2 w-25">ACTION</th>
														</tr>
													</thead>
													<tbody class="files">
														<tr class="empty-row">
															<td colspan="4" class="text-center p-3">
																<div class="text-inverse text-opacity-30 mb-2"><i class="fa fa-file-archive fa-3x"></i></div>
																No file uploaded
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="card-arrow">
												<div class="card-arrow-top-left"></div>
												<div class="card-arrow-top-right"></div>
												<div class="card-arrow-bottom-left"></div>
												<div class="card-arrow-bottom-right"></div>
											</div>

										</div>
									</form>
								</div>
								<!-- END #jQueryFileUpload -->



        </div>

    </div>
    <!-- BEGIN #modalPosItem -->
	<div class="modal modal-pos fade" id="modalPosItem">
		<div class="modal-dialog modal-lg">
			<div class="modal-content border-0">
				<div class="card">
					<div class="card-body p-0">

					</div>
					<div class="card-arrow">
						<div class="card-arrow-top-left"></div>
						<div class="card-arrow-top-right"></div>
						<div class="card-arrow-bottom-left"></div>
						<div class="card-arrow-bottom-right"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END #modalPosItem -->
{% endblock content_body %}


{% block js %}
    {{ block.super }}

    <!-- ================== BEGIN page-js ================== -->
		<script src={% static "assets/plugins/jquery/distro/jquery.min.js" %}></script>
		<script src={% static "assets/plugins/jquery-migrate/distro/jquery-migrate.min.js" %}></script>
		<script src={% static "assets/plugins/blueimp-file-upload/js/vendor/jquery.ui.widget.js" %}></script>
		<script src={% static "assets/plugins/blueimp-tmpl/js/tmpl.min.js" %}></script>
		<script src={% static "assets/plugins/blueimp-load-image/js/load-image.all.min.js" %}></script>
		<script src={% static "assets/plugins/blueimp-load-image/js/load-image.js" %}></script>
		<script src={% static "assets/plugins/blueimp-canvas-to-blob/js/canvas-to-blob.min.js" %}></script>
		<script src={% static "assets/plugins/blueimp-gallery/js/jquery.blueimp-gallery.min.js" %}></script>
		<script src={% static "assets/plugins/blueimp-file-upload/js/jquery.iframe-transport.js" %}></script>
		<script src={% static "assets/plugins/blueimp-file-upload/js/jquery.fileupload.js"%}></script>
		<script src={% static "assets/plugins/blueimp-file-upload/js/jquery.fileupload-process.js"%}></script>
		<script src={% static "assets/plugins/blueimp-file-upload/js/jquery.fileupload-image.js"%}></script>
		<script src={% static "assets/plugins/blueimp-file-upload/js/jquery.fileupload-audio.js"%}></script>
		<script src={% static "assets/plugins/blueimp-file-upload/js/jquery.fileupload-video.js"%}></script>
		<script src={% static "assets/plugins/blueimp-file-upload/js/jquery.fileupload-validate.js"%}></script>
		<script src={% static "assets/plugins/blueimp-file-upload/js/jquery.fileupload-ui.js"%}></script>
    	<script src={% static "assets/js/demo/form-plugins.demo.js"%}></script>
    <!-- ================== END page-js ================== -->



    <script src={% static "assets/js/demo/sidebar-scrollspy.demo.js" %}></script>

    <script>
        function getfilename(fullpath){
            var filename = fullPath.replace(/^.*[\\/]/, '')
            return filename
        }
    </script>


<script>

    function IdVerification() {

        const documentname = document.getElementById('idcard').files[0];
            documentname.onchange = () => {
                const selectedFile = documentname.files[0];

                }
        const formData = new FormData();
        // const keyword = document.getElementById('keyword').value;
		{#var userid = document.getElementById('userid').value;#}
		// let useridx = userid.toString();
		// console.log(useridx);
        // formData.append('keyword',keyword );
        formData.append('file', documentname);
		{#formData.append('user', userid);#}
        const options = {
            method: 'POST',
            headers: {
				"Authorization": "sha256=6dSN3Al3gwgFr+eiXOU2dPWX/hTqmCY/zkK9OZykT4g="
            },
            body: formData
        };
		console.log(formData);
        fetch( 'https://idme.ma/idme.apis/idverify/', options )
            .then( response => response.json() )
            .then( data => $("#alert-box").html(`<div class="alert alert-success"         role="alert">
                       ${data}
                        </div>`))
            .catch(error => console.log(error));


    };

</script>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('card-img');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>

<script>
$("#IdVerification").click(function () {
    let url = 'https://idme.ma/idme.apis/idverify/';
    const formData = new FormData();
    var fileName = $("#idcard").val();
    if (fileName) {
        formData.append('file', $('#idcard')[0].files[0]);
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
            success: function (data) {
                if (data) {
                    var result = data;
                    var id = result.id;
                    var name = result.name;
                    var address = result.address;
                    var dob = result.dob;
                    var expire = result.expire;

                    $("#alert-id").html(`<div class="alert alert-light p-0"         role="alert">
                           ${id}
                            </div>`);
                    $("#alert-name").html(`<div class="alert alert-light p-0"         role="alert">
                           ${name}
                            </div>`);
                    $("#alert-address").html(`<div class="alert alert-light p-0"         role="alert">
                           ${address}
                            </div>`);
                    $("#alert-dob").html(`<div class="alert alert-light p-0"         role="alert">
                           ${dob}
                            </div>`);
                    $("#alert-expire").html(`<div class="alert alert-light p-0"         role="alert">
                           ${expire}
                            </div>`);
                }
            }
        })
    }else{
        $("#alert-box").html(`<div class="alert alert-danger p-0"         role="alert">
                           File missing!!)
                            </div>`);
    }
}
);
</script>
{% endblock js %}

