{% extends "base.html" %}
{% load allauth %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}

<title>{% trans "ID Verify2FA Authenticate" %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content={% trans "Streamline user onboarding and protect your business with our secure, AI-powered ID verification service, ensuring compliance and preventing fraud." %}>
<meta name="author" content="">
{% endblock head_title%}

{% block css %}

    {{ block.super }}

{% endblock css %}



{% block content_head %}


<h3 class="card-title">
    {% trans "2FA Authentication" %}
</h3>
{% endblock content_head %}



{% block content_body %}


<div class="row ">
    <div class="col-12 col-md-5">
        <div class="card">
            <div class="card-body">
            <p>Enter your one time code (otp) from your AUth App in the case if you lost your auth app you can use recovery codes</p>
            <form  method="post">
                {% csrf_token %}
                {{form}}
                <button class="btn btn-success mt-2" type="submit">{% trans "Sign in" %}</button>
            </form>
                </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content_body %}

{% block js %}
  {{ block.super }}

<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock js %}