{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
	<meta charset="utf-8">
    {% block head_title %}
        <title>{% trans "Idme.ma" %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content={% trans "Streamline user onboarding and protect your business with our secure, AI-powered ID verification service, ensuring compliance and preventing fraud. " %}>
        <meta name="author" content="">
	{% endblock %}

    {% block css %}
	<!-- ================== BEGIN core-css ================== -->
        <link href={% static "assets/css/vendor.min.css" %} rel="stylesheet">
        <link href={% static "assets/css/app.min.css" %} rel="stylesheet">

	<!-- ================== END core-css ================== -->
	{% endblock css %}

</head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app">
		<!-- BEGIN #header -->
        {% block header %}
		<div id="header" class="app-header">
			<!-- BEGIN desktop-toggler -->
			<div class="desktop-toggler">
				<button type="button" class="menu-toggler" data-toggle-class="app-sidebar-collapsed" data-dismiss-class="app-sidebar-toggled" data-toggle-target=".app">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</button>
			</div>
			<!-- BEGIN desktop-toggler -->
			
			<!-- BEGIN mobile-toggler -->
			<div class="mobile-toggler">
				<button type="button" class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled" data-toggle-target=".app">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</button>
			</div>
			<!-- END mobile-toggler -->
			
			<!-- BEGIN brand -->
			<div class="brand">
				<a href="https://idme.ma/" class="brand-logo">
					<span class="brand-img">
						<span class="brand-img-text text-theme">I</span>
					</span>
					<span class="brand-text">ID-ME</span>
				</a>
			</div>
			<!-- END brand -->
			
			<!-- BEGIN menu -->
			<div class="menu">
				<div class="menu-item dropdown">
					<a href="#" data-toggle-class="app-header-menu-search-toggled" data-toggle-target=".app" class="menu-link">
						<div class="menu-icon"><i class="bi bi-search nav-icon"></i></div>
					</a>
				</div>
				<div class="menu-item dropdown dropdown-mobile-full">
					<a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
						<div class="menu-icon"><i class="bi bi-grid-3x3-gap nav-icon"></i></div>
					</a>
					<div class="dropdown-menu fade dropdown-menu-end w-300px text-center p-0 mt-1">
						<div class="row row-grid gx-0">
							<div class="col-4">
								<a href="#" class="dropdown-item text-decoration-none p-3 bg-none">
									<div class="position-relative">
										<i class="bi bi-circle-fill position-absolute text-theme top-0 mt-n2 me-n2 fs-6px d-block text-center w-100"></i>
										<i class="bi bi-envelope h2 opacity-5 d-block my-1"></i>
									</div>
									<div class="fw-500 fs-10px text-inverse">{% trans "INBOX" %}</div>
								</a>
							</div>
							<div class="col-4">
								<a href="#" target="_blank" class="dropdown-item text-decoration-none p-3 bg-none">
									<div><i class="bi bi-hdd-network h2 opacity-5 d-block my-1"></i></div>
									<div class="fw-500 fs-10px text-inverse">{% trans "POS SYSTEM" %}</div>
								</a>
							</div>
							<div class="col-4">
								<a href="#" class="dropdown-item text-decoration-none p-3 bg-none">
									<div><i class="bi bi-calendar4 h2 opacity-5 d-block my-1"></i></div>
									<div class="fw-500 fs-10px text-inverse">{% trans "CALENDAR" %}</div>
								</a>
							</div>
						</div>
						<div class="row row-grid gx-0">
							<div class="col-4">
								<a href="#" class="dropdown-item text-decoration-none p-3 bg-none">
									<div><i class="bi bi-terminal h2 opacity-5 d-block my-1"></i></div>
									<div class="fw-500 fs-10px text-inverse">{% trans "HELPER" %}</div>
								</a>
							</div>
							<div class="col-4">
								<a href="#" class="dropdown-item text-decoration-none p-3 bg-none">
									<div class="position-relative">
										<i class="bi bi-circle-fill position-absolute text-theme top-0 mt-n2 me-n2 fs-6px d-block text-center w-100"></i>
										<i class="bi bi-sliders h2 opacity-5 d-block my-1"></i>
									</div>
									<div class="fw-500 fs-10px text-inverse">{% trans "SETTINGS" %}</div>
								</a>
							</div>
							<div class="col-4">
								<a href="#" class="dropdown-item text-decoration-none p-3 bg-none">
									<div><i class="bi bi-collection-play h2 opacity-5 d-block my-1"></i></div>
									<div class="fw-500 fs-10px text-inverse">{% trans "WIDGETS" %}</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item dropdown dropdown-mobile-full">
					<a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
						<div class="menu-icon"><i class="bi bi-bell nav-icon"></i></div>
						<div class="menu-badge bg-theme"></div>
					</a>
					<div class="dropdown-menu dropdown-menu-end mt-1 w-300px fs-11px pt-1">
						<h6 class="dropdown-header fs-10px mb-1">{% trans "NOTIFICATIONS" %}</h6>
						<div class="d-flex align-items-center py-10px dropdown-item text-wrap fs-6 bg-inverse bg-opacity-15 text-inverse text-opacity-50 h-100px">
							{% trans "No record found" %}
						</div>
						<hr class="my-0">
						<div class="py-10px mb-n2 text-center">
							<a href="#" class="text-decoration-none fw-bold">{% trans "SEE ALL" %}</a>
						</div>
					</div>
				</div>
				<div class="menu-item dropdown dropdown-mobile-full">
                    {% if user.is_authenticated %}
                        <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
                            <div class="menu-img online">
                                {% if user.picture %}
							        <img src="{{ user.picture.url }}" alt="Profile" height="60">
                                {% else %}
                                    <div class="d-flex align-items-center justify-content-center w-100 h-100 bg-inverse bg-opacity-25 text-inverse text-opacity-50 rounded-circle overflow-hidden">
                                            <i class="bi bi-person-fill fs-32px mb-n3"></i>
                                    </div>
                                {% endif %}
						    </div>


                                <div class="menu-text d-sm-block d-none w-170px">{{ user.first_name }}</div>


                        </a>
                    {% else %}
                        <a href="#" data-bs-display="static" class="menu-link">
                            <div class="menu-img online">
                                <div class="d-flex align-items-center justify-content-center w-100 h-100 bg-inverse bg-opacity-25 text-inverse text-opacity-50 rounded-circle overflow-hidden">
                                    <i class="bi bi-person-fill fs-32px mb-n3"></i>
                                </div>
                            </div>

                                <div class="menu-text d-sm-block d-none w-170px">{% trans "User Name" %}</div>

                         </a>

                    {% endif %}
					<div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
						<a class="dropdown-item d-flex align-items-center" href="{% url 'profiles:profile' %}">{% trans "PROFILE" %} <i class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i></a>
						<a class="dropdown-item d-flex align-items-center" href="#">{% trans "INBOX" %} <i class="bi bi-envelope ms-auto text-theme fs-16px my-n1"></i></a>
						<a class="dropdown-item d-flex align-items-center" href="#">{% trans "CALENDAR" %} <i class="bi bi-calendar ms-auto text-theme fs-16px my-n1"></i></a>
						<a class="dropdown-item d-flex align-items-center" href="#">{% trans "SETTINGS" %} <i class="bi bi-gear ms-auto text-theme fs-16px my-n1"></i></a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item d-flex align-items-center" href="{% url 'profiles:logout' %}">{% trans "LOGOUT" %} <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i></a>
					</div>
				</div>
			</div>
			<!-- END menu -->
			
			<!-- BEGIN menu-search -->
			<form class="menu-search" method="POST" name="header_search_form">
				<div class="menu-search-container">
					<div class="menu-search-icon"><i class="bi bi-search"></i></div>
					<div class="menu-search-input">
						<input type="text" class="form-control form-control-lg" placeholder="{% trans "Search menu" %}...">
					</div>
					<div class="menu-search-icon">
						<a href="#" data-toggle-class="app-header-menu-search-toggled" data-toggle-target=".app"><i class="bi bi-x-lg"></i></a>
					</div>
				</div>
			</form>
			<!-- END menu-search -->
		</div>
    {% endblock header %}
		<!-- END #header -->

		<!-- BEGIN #sidebar -->
    {% block sidebar %}
		<div id="sidebar" class="app-sidebar">
			<!-- BEGIN scrollbar -->
			<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
				<!-- BEGIN menu -->
				<div class="menu">
					<div class="menu-header">{% trans "Navigation" %}</div>
					<div class="menu-item active">
						<a href="" class="menu-link">
							<span class="menu-icon"><i class="bi bi-house-door"></i></span>
							<span class="menu-text">{% trans "Home" %}</span>
						</a>
					</div>
				</div>
				<!-- END menu -->
			</div>
			<!-- END scrollbar -->
		</div>
    {% endblock sidebar %}
		<!-- END #sidebar -->
			
		<!-- BEGIN mobile-sidebar-backdrop -->
		<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
		<!-- END mobile-sidebar-backdrop -->

		<!-- BEGIN #content -->
		<div id="content" class="app-content">
{#        <div class="container">#}
        {% block content_head %}
{#			<ul class="breadcrumb">#}
{#				<li class="breadcrumb-item"><a href="#">BREADCRUMB</a></li>#}
{#				<li class="breadcrumb-item active">HOME PAGE</li>#}
{#			</ul>#}
{#			#}
{#			<h1 class="page-header">#}
{#				Starter Page <small>page header description goes here...</small>#}
{#			</h1>#}
		{% endblock content_head %}
        {% block content_body %}
			<p>
				Start build your page here
			</p>
        {% endblock content_body %}
{#        </div>#}
		</div>
		<!-- END #content -->

		<!-- BEGIN btn-scroll-top -->
		<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
		<!-- END btn-scroll-top -->
	</div>
	<!-- END #app -->
	{% block js %}
	<!-- ================== BEGIN core-js ================== -->
	<script src={% static "assets/js/vendor.min.js" %}></script>
	<script src={% static "assets/js/app.min.js" %}></script>


	<!-- ================== END core-js ================== -->
	{% endblock js %}
	
</body>
</html>
