{% extends "base_mobile.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
            {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
    /*File Upload*/
.upload-fileb {
  text-indent: -999px;
  outline: none;
  width: 100%;
  height: 45px;
  color: rgba(0, 0, 0, 0) !important;
}

.upload-fileb-text {
  pointer-events: none;
  margin-top: -36px !important;
  text-align: center;
  color: #FFF;
  height: 10px;
  text-transform: uppercase;
  font-weight: 900;
}

.fileb-data input[type=file] {
  font-size: 0px !important;
}
    </style>

{% endblock css %}

{% block page_header %}
    {{ block.super }}
{% endblock page_header %}

{% block page_footer %}

{% endblock page_footer %}

{% block page_title %}

    {% block page_title_name %}
        {{ block.super }}
    {% endblock page_title_name %}

    {% block page_title_body %}
        {{ block.super }}
    {% endblock page_title_body %}

{% endblock page_title %}

{% block content %}
    {{ block.super }}
    <div class="card card-style">
            <div class="content">
                <p class="mb-n1 color-highlight font-600">{% trans "Select Your ID" %}</p>
                <h1>{% trans "Front Side" %}</h1>
                <p>
                    {% trans "Upload the Front Side of your Identification Card" %}
                </p>
                <div class="file-data pb-5">
                    <input type="file" id="file-upload" class="upload-file bg-highlight shadow-s rounded-s " accept="image/*">
                    <p class="upload-file-text color-white">Upload Image</p>
                </div>
                <div class="list-group list-custom-large upload-file-data disabled">
                    <img id="image-data" src="{% static "pictures/empty.png" %}" class="img-fluid">
                    <a href="#" class="border-0">
                        <i class="fa font-14 fa-info-circle color-blue-dark"></i>
                        <span>File Name</span>
                        <strong class="upload-file-name">JS Populated</strong>
                    </a>
                    <a href="#" class="border-0">
                        <i class="fa font-14 fa-weight-hanging color-brown-dark"></i>
                        <span>File Size</span>
                        <strong class="upload-file-size">JS Populated</strong>
                    </a>
                    <a href="#" class="border-0">
                        <i class="fa font-14 fa-tag color-red-dark"></i>
                        <span>File Type</span>
                        <strong class="upload-file-type">JS Populated</strong>
                    </a>
                    <a href="#" class="border-0 pb-4">
                        <i class="fa font-14 fa-clock color-blue-dark"></i>
                        <span>Modified Date</span>
                        <strong class="upload-file-modified">JS Populated</strong>
                    </a>
                </div>

            </div>
        </div>

    <div class="card card-style">
            <div class="content mb-0">
                <p class="mb-n1 color-highlight font-600">{% trans "Select Your ID" %}</p>
                <h1>{% trans "Back Side" %}</h1>
                <p>
                    {% trans "Upload the Back Side of your Identification Card" %}
                </p>
                <div class="fileb-data pb-5">
                    <input type="file" id="fileb-upload" class="upload-fileb bg-highlight shadow-s rounded-s " accept="image/*">
                    <p class="upload-file-text color-white">Upload Image</p>
                </div>
                <div class="list-group list-custom-large upload-fileb-data disabled">
                    <img id="image-datab" src="{% static "pictures/empty.png" %}" class="img-fluid">
                    <a href="#" class="border-0">
                        <i class="fa font-14 fa-info-circle color-blue-dark"></i>
                        <span>File Name</span>
                        <strong class="upload-fileb-name">JS Populated</strong>
                    </a>
                    <a href="#" class="border-0">
                        <i class="fa font-14 fa-weight-hanging color-brown-dark"></i>
                        <span>File Size</span>
                        <strong class="upload-fileb-size">JS Populated</strong>
                    </a>
                    <a href="#" class="border-0">
                        <i class="fa font-14 fa-tag color-red-dark"></i>
                        <span>File Type</span>
                        <strong class="upload-fileb-type">JS Populated</strong>
                    </a>
                    <a href="#" class="border-0 pb-4">
                        <i class="fa font-14 fa-clock color-blue-dark"></i>
                        <span>Modified Date</span>
                        <strong class="upload-fileb-modified">JS Populated</strong>
                    </a>
                </div>

            </div>
        </div>
    </div
{% endblock content %}

{% block page_title_content %}

{% endblock page_title_content %}

{% block main %}


{% endblock main %}


{% block project_js %}
  {{ block.super }}

<script>
function goBack() {
  window.history.back();
}
</script>
    <script>
    const inputArrayb = document.getElementsByClassName('upload-fileb');
        if(inputArrayb.length){
            inputArrayb[0].addEventListener('change',prepareUpload,false);
                function prepareUpload(event){
                  if (this.files && this.files[0]) {
                  var img = document.getElementById('image-datab');
                  img.src = URL.createObjectURL(this.files[0]);
              }
                const files = event.target.files;
                const fileName = files[0].name;
                document.getElementsByClassName('fileb-data')[0].classList.add('disabled');
                document.getElementsByClassName('upload-fileb-data')[0].classList.remove('disabled');
                document.getElementsByClassName('upload-fileb-name')[0].innerHTML = files[0].name;
                document.getElementsByClassName('upload-fileb-modified')[0].innerHTML = files[0].lastModifiedDate;
                document.getElementsByClassName('upload-fileb-size')[0].innerHTML = files[0].size/1000+'kb';
                document.getElementsByClassName('upload-fileb-type')[0].innerHTML = files[0].type;
            }

        }
    </script>

{% endblock project_js %}

