{% extends "base_mobile.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
            {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}

{% endblock css %}

{% block page_header %}
    {{ block.super }}
{% endblock page_header %}

{% block page_title %}

    {% block page_title_name %}
        <div class="page-title page-title-fixed">
        <h1>{% trans "List" %}</h1>
    {% endblock page_title_name %}

    {% block page_title_body %}
        {{ block.super }}
    {% endblock page_title_body %}

{% endblock page_title %}

{% block content %}
    {{ block.super }}
{% endblock content %}

{% block page_title_content %}

{% endblock page_title_content %}

{% block main %}


{% endblock main %}


{% block project_js %}
  {{ block.super }}

<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock project_js %}

