{% extends "base.html" %}
{% load allauth %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}

<title xmlns="http://www.w3.org/1999/html">{% trans "Deactivate 2FA" %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content={% trans "Streamline user onboarding and protect your business with our secure, AI-powered ID verification service, ensuring compliance and preventing fraud." %}>
<meta name="author" content="">
{% endblock head_title%}

{% block css %}

    {{ block.super }}

{% endblock css %}



{% block content_head %}



{% endblock content_head %}



{% block content_body %}
<div class="row ">
            <div class="col-12 col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            {% trans "Deactivate Authenticator App" %}
                        </h3>
                    </div>
                    <div class="card-body text-center">

                            <p>{% trans "You are about to deactivate authenticator app based authentication." %}</p>
                        <p  class="text-danger bg-white mb-4 h6"><strong>{% trans "Are you sure?" %}</strong></p>

                        <form  method="post">
                            {% csrf_token %}

                            <button class="btn btn-danger" type="submit">{% trans "Deactivate" %}</button>
                        </form>

</div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content_body %}

{% block js %}
  {{ block.super }}

<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock js %}